.lightgreenbg {
    background-color: #D1EDD6;
}

.greenbutton {
    background-color: #16AB37;
    color: white;
    width: 30%;
}

.greentext {
    color: #19AA33;
}

#currentpage {
    color: #19AA33;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.blacktext {
    color: black;
}

.progress-ring {
    width: 400px;
    height: 400px;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

.card-container {
    position: relative !important;
    width: 100% !important;
}

.valid {
    border-color: #16AB37;
    color: #16AB37;
    border-width: 3px;
}

.invalid {
    border-color: red;
    color: red;
    border-width: 3px;
}

.invalid::placeholder {
    color: red;
}

.normal {
    border-color: #ccc;
    color: #ccc;
}

input[type=radio] {
    position: absolute;
    margin-top: 0.5vmax;
    accent-color: green;
}

/**
  Component
**/
label {
    width: 100%;
    position: relative;
}

label:hover {
    cursor: pointer;
}

.card-input:hover {
    cursor: pointer;
}

.card-body input[type="radio"]:checked+label {
    color: #19AA33 !important;
    outline: 3px solid #19AA33;
    outline-offset: 15px;
    border-radius: 1%;
}

.card-body input[type="radio"]+label {
    outline: 1px solid gray;
    outline-offset: 15px;
    border-radius: 1%;
}

.card-input-element1 {
    display: none;
}

.card-input-element1:checked+.card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
    border-color: #16AB37;
    color: #16AB37;
}

.card-input-element:checked+.card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
    border-color: #16AB37;
    color: #16AB37;
}

.card {
    --bs-card-border-width: 0 !important;
}

.form-control {
    border-radius: 1rem;
}

.imgbtn {
    background-color: white;
    border: 0;
}

@media (max-width:767.9px) {
    .rad {
        width: 100% !important;
    }
}
@media only screen and (max-width:685px) {
    .rad{
        margin-inline: auto;
    }
    .rad-2{
        margin-inline: auto;
    }
    .rads{
        margin-top: 5px;
    }
}

ul.submit-list {
    list-style-type: "\1F966";
}

.popup {
    width: 400px;
    background: linear-gradient(157.77deg, rgba(209, 237, 214, 0.5) 4%, rgba(25, 170, 51, 0.38) 53.9%);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    font-size: larger;
    font-weight: bolder;
    border-color: transparent;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 3;
    visibility: hidden;
}

.pop img {
    width: 100;
    margin-top: -50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup button {
    margin-top: 50px;
    background: transparent;
    cursor: pointer;
}

#blur-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px);
    z-index: 2;
    visibility: hidden;
}

.open-Popup {
    visibility: visible;
}

@keyframes PopUp2 {
    0% {
        transform:translate(-50%,-50%) scale(0);
    }

    33% {
        transform:translate(-50%,-50%) scale(0);
    }

    100% {
        transform:translate(-50%,-50%) scale(100%);
    }
}

.PopUpAnim {
    animation: PopUp2 1.5s ease-out;
}

.popup .close:hover {
    transform: scale(110%);
}
#stepper{
    position: relative;
}
#stepper-line{
    position: absolute;
    top: 50%;
    height: 2px;
    width: 28.125rem;
    background-color: #19AA33;
    z-index: 1;
}
.steps{
    width: 3.75rem;
    height: 3.75rem;
    margin: 0 1.688rem;
    background-color: white;
    z-index: 2;
    position: relative;
}
.step{
    position: absolute;
    top: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #19AA33;
}
.AnimSteps{
    background-size: 200% 100%;
    background-position: right;
    background-repeat: no-repeat;
    transition: .5s ease-out;
}
@media only screen and (max-width:550px) {
    #stepper{
        scale: 0.8;
    }
}
@media only screen and (max-width:400px) {
    #stepper{
        scale: 0.6;
    }
}
@media only screen and (max-width:290px) {
    #stepper-line{
        width: 100%;
    }
}
@media only screen and (max-width:420px) {
    #fooddish{
        scale: 0.7;
        transform: translateX(-40px);
    }
    button{
        scale: 0.8;
    }
}
@media only screen and (max-width:768px) {
    #plan-submit-list{
        transform: translateX(-10px);
    }
}