.container2 {
  padding: 25px;
  width: 1180px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 35px;
  line-height: 1;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
      width: 1000px;
  }
}

@media (max-width: 1200px) {
  .container {
      width: 750px;
  }
}

@media (max-width: 1200px) {
  .container {
      width: 100%;
  }
}

@media only screen and (max-width: 480px) and (min-width: 335px){
  .box{
      min-width: 300px;
  }
}

.box {
  background: linear-gradient(150deg, #3D3D3D 0%, #12100E 50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: 310px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.box:nth-of-type(2) {
  position: relative;
  background: linear-gradient(157.77deg, rgba(209, 237, 214, 0.5) 4%, rgba(25, 170, 51, 0.38) 53.9%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: black;
}

.box h2 {
  margin: 0 30px;
  color: rgb(12, 189, 12);
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: clamp(1.5rem, 0.5vw + 1.2rem, 1.8rem);
  font-weight: bold;
}

.box p {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin: 25px 30px 0 30px;
  padding: 0;
  box-sizing: border-box;
}

.box span {
  font-weight: 700;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #19AA33;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.box span span {
  font-size: 20px;
  font-weight: 400;
}
.box .line{
  border-top: 2px solid#19AA33;
  width: 50px;
  margin-top: -15px;
}

.box .features {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 5px;
  margin-top: auto;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
.box .features li {
  list-style: "\1f966";
  text-align: right;
  margin: 0 25px;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.box button {
  background-color: #19AA33;
  color: white;
  border: none;
  width: 100px;
  margin: 25px 0;
  padding: 15px 0;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.15s;
  margin-top: auto;
  box-sizing: border-box;
  line-height: 1;
}

.box button:hover {
  color: white;
  background-color: #00b4d8;
  cursor: pointer;
}

@media (max-width: 480px) {
  .container {
      padding: 15px;
      gap: 20px;
  }
  .box .features {
      font-size: 12px;
  }
}
