{% load static %}
<!doctype html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DR-Mohamed ELBarr</title>
  <link href="{% static 'home/css/card-style.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/MyCss-registration.css' %}" rel="stylesheet">
  <style>
    @font-face {
      font-family: Cairo;
      src: url({% static 'home\fonts\Cairo-VariableFont.ttf' %});
    }
    *{
      font-family: Cairo;
    }
  </style>

  <script>
    function ajaxpost () {
      // (A) GET FORM DATA
      var form = document.getElementById("form-handler");
      var data = new FormData(form);

      // (B) AJAX
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "{% url 'Registartion' %}");
      // What to do when server responds
      xhr.onload = function () { console.log(this.response); };
      xhr.send(data);

      // (C) PREVENT HTML FORM SUBMIT
      return false;
    }
    </script>
</head>

<body>
  <!-- NavBar -->
  <div class="container p-4">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="{% static 'home/img/logo.svg' %}" alt="" width="100" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item p-3">
              <a class="nav-link blacktext" href="index.html"><b>الرئيسية</b></a>
            </li>
            <li class="nav-item p-3">
              <a class="nav-link blacktext" href="registration.html" id="currentpage"><b>إبدأ الان</b></a>
            </li>
            <li class="nav-item p-3">
              <a class="nav-link blacktext" href="reels.html"><b>النصائح و التمارين</b></a>
            </li>
            <li class="nav-item p-3">
              <a class="nav-link blacktext" href="contactUs.html"><b>تواصل معانا</b></a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <span class="navbar-text blacktext"><b>تابعنا علي  |</b></span>
            <a class="nav-link" href="https://www.facebook.com/DrMohamedbarr/">
              <img src="{% static 'home\img\icon-facebooks.svg' %}" alt="" width="30" height="24">
            </a>
            <a class="nav-link" href="https://www.instagram.com/drmohamedbarr/">
              <img src="{% static 'home\img\icon-instagrams.svg' %}" alt="" width="30" height="24">
            </a>
            <a class="nav-link" href="https://www.tiktok.com/@drmohamedbarr">
              <img src="{% static 'home\img\icon-tiktoks.svg' %}" alt="" width="30" height="24">
            </a>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- Stepper -->
  <div class="container-fluid" dir="ltr">
    <div class="row justify-content-center" id="stepper" style="flex-wrap: nowrap;">
      <span id="stepper-line"></span>
      <span class="steps" style="background-image: url({% static 'home/img/step1.svg' %});">
        <p class="step"> شخصى </p>
      </span>
      <span class="steps AnimSteps" id="step2" style="background-image: url({% static 'home/img/step2.svg' %});">
        <p class="step"> هدفك </p>
      </span>
      <span class="steps AnimSteps" id="step3" style="background-image: url({% static 'home/img/step3.svg' %});">
        <p class="step"> الخطة </p>
      </span>
      <span class="steps AnimSteps" id="step4" style="background-image: url({% static 'home/img/step4.svg' %});">
        <p class="step"> الدفع </p>
      </span>
    </div>
  </div>
  <br>

  <!-- Registration steps -->
  <div dir="ltr" class="container">
    <div class="row justify-content-evenly align-items-center">
      <div id="fooddish" class="col-auto">
        <svg class="progress-ring" width="200" height="200" style="background-image: url({% static 'home/img/food-dish.svg' %});">
          <circle class="progress-ring__circle" stroke="white" stroke-width="200" stroke-opacity="50%"
            fill="transparent" r="100" cx="200" cy="200" />
        </svg>
      </div>
      <div dir="rtl" id="forms" class="col-7">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-touch="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h4><strong>المعلومات الشخصية</strong></h4>
              <form name="form1">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="inputfirst">الاسم</label>
                    <input type="text" class="form-control form1" id="inputfirst" placeholder="الاسم الأول">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputfirst"></label>
                    <input type="text" class="form-control form1" id="inputlast" placeholder="الاسم الأخير">
                  </div>
                </div>
                <br>
                <span class="row text-muted">
                  <label for="inputage" class="text-dark">النوع</label>
                  <input type="radio" id="gender" style="display: none;">
                  <span class="row rad" id="rad1" style="width: 75%;">
                    <span class="col-md-6 ">
                      <label>
                        <div class="card card-default card-input">
                          <div dir="ltr" class="card-body colorradio rads">
                            <input type="radio" id="radiomale" name="gender" value="male" class="card-input-element" />
                            <label id="labelmale" dir="rtl" for="radiomale"> ذكر</label>
                          </div>
                        </div>
                      </label>
                    </span>
                    <span class="col-md-6 ">
                      <label>
                        <div class="card card-default card-input">
                          <div dir="ltr" class="card-body colorradio rads">
                            <input type="radio" id="radiofemale" name="gender" value="female" class="card-input-element" />
                            <label id="labelfemale" dir="rtl" for="radiofemale"> انثى</label>
                          </div>
                        </div>
                      </label>
                    </span>
                  </span>
                </span>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputmail">البريد الإلكتروني</label>
                  <input type="email" class="form-control form1" id="inputmail" placeholder="البريد الإلكتروني">
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputage">العمر</label>
                  <input type="number" class="form-control form1" id="inputage" placeholder="العمر بالأرقام">
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputproffession">المهنة</label>
                  <input type="text" class="form-control form1" id="inputproffession" placeholder="المهنةالتي تعمل بها">
                </div>
                <br>
                <span class="row text-muted">
                  <label for="inputage" class="text-dark">الحالة الزوجية</label>
                  <input type="radio" id="marital status" style="display: none;">
                  <span class="row rad" id="rad2" style="width: 75%;">
                    <span class="col-md-6 ">
                      <label>
                        <div class="card card-default card-input">
                          <div dir="ltr" class="card-body colorradio rads">
                            <input type="radio" id="radiosingle" name="marital status" value="single" class="card-input-element" />
                            <label id="labelsingle" dir="rtl" for="radiosingle">أعزب</label>
                          </div>
                        </div>
                      </label>
                    </span>
                    <span class="col-md-6">
                      <label>
                        <div class="card card-default card-input">
                          <div dir="ltr" class="card-body colorradio rads">
                            <input type="radio" id="radiomarried" name="marital status" value="married" class="card-input-element" />
                            <label id="labelmarried" dir="rtl" for="radiomarried">متزوج</label>
                          </div>
                        </div>
                      </label>
                    </span>
                  </span>
                </span>
                <br>
              </form>
              <button type="button" id="form1-next" class="imgbtn" onclick="nextbtn1()"
                data-bs-target="#carouselExampleSlidesOnly">
                <img src="{% static 'home/img/continue.svg' %}" onmouseover="this.src='{% static 'home/img/continue-hover.svg' %}'"
                  onmouseout="this.src='{% static 'home/img/continue.svg' %}'" alt="">
              </button>
            </div>
            <div class="carousel-item">
              <h4><strong> أخبرنا أكثر عن هدفك</strong></h4>
              <form name="form2">
                <div class="form-group col-md-8">
                  <label for="inputgoal">الهدف</label>
                  <input type="text" class="form-control form2" id="inputgoal" placeholder="ما هو هدفك مع الدكتور؟">
                </div>
                <br>
                <div class="row text-muted">
                  <div class="col-md-4">
                    <div class="form-outline">
                      <label for="inputweight" class="text-dark">الوزن</label>
                      <input type="number" id="inputweight" class="form-control form2" placeholder="مثال:96" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-outline">
                      <label for="inputheight" class="text-dark">الطول</label>
                      <input type="number" id="inputheight" class="form-control form2" placeholder="مثال:184" />
                    </div>
                  </div>
                </div>
                <br>
                <div class="row text-muted">
                  <div class="col-md-3">
                    <div class="form-outline">
                      <label for="inputchest" class="text-dark">محيط الصدر</label>
                      <input type="number" id="inputchest" class="form-control form2" placeholder="مثال:102" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-outline">
                      <label for="inputwaist" class="text-dark">محيط الوسط</label>
                      <input type="number" id="inputwaist" class="form-control form2" placeholder="مثال:94" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-outline">
                      <label for="inputarm" class="text-dark">محيط الذراع</label>
                      <input type="number" id="inputarm" class="form-control form2" placeholder="مثال:47" />
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputalergie">حساسية الطعام</label>
                  <input type="text" class="form-control form2" id="inputalergie"
                    placeholder=" هل تعاني من حساسية طعام؟ وضح ما هى ... ">
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputsickness">الأمراض </label>
                  <input type="text" class="form-control form2" id="inputsickness"
                    placeholder=" هل تعاني من أي أمراض؟ وضح ما هى ... ">
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputoperation">العمليات</label>
                  <input type="text" class="form-control form2" id="inputoperation"
                    placeholder="هل قمت بأي عمليات من قبل؟ وضح ما هى ... ">
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputdrugs">أدوية و مكملات</label>
                  <input type="text" class="form-control form2" id="inputdrugs"
                    placeholder="هل قمت/تقوم بتناول أي أدوية أو مكملات؟ وضح ما هى ... ">
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputfood">الطعام الذي تفضله</label>
                  <input type="text" class="form-control form2" id="inputfood1"
                    placeholder="مثال:العيش, الأرز, اللحمة..">
                </div>
                <br>
                <div class="form-group col-md-8">
                  <label for="inputfood2">الطعام الذي لا تفضله</label>
                  <input type="text" class="form-control form2" id="inputfood2"
                    placeholder="مثال:البيض, السبانخ, الأسماك..">
                </div>
                <br>
                <span class="row g-4 text-muted">
                  <label for="inputmeals" class="text-dark">كم عدد الوجبات الذي تفضل؟</label>
                  <input type="radio" id="meals" style="display: none;">
                  <span class="row text-center rad-2" id="rad3" style="width: 75%;">
                    <span class="col-md-2 ">
                      <label>
                        <div class="card card-default card-input">
                          <div class="card-body colorradio rads">
                            <input type="radio" id="radio3" name="meals" value="three" class="card-input-element"
                              style="opacity: 0;">
                            <label id="label3" dir="rtl" for="radio3"> 3 </label>
                          </div>
                        </div>
                      </label>
                    </span>
                    <span class="col-md-2 ">
                      <label>
                        <div class="card card-default card-input">
                          <div class="card-body colorradio rads">
                            <input type="radio" id="radio4" name="meals" value="four" class="card-input-element"
                              style="opacity: 0;">
                            <label id="label4" dir="rtl" for="radio4"> 4 </label>
                          </div>
                        </div>
                      </label>
                    </span>
                    <span class="col-md-2 ">
                      <label>
                        <div class="card card-default card-input">
                          <div class="card-body colorradio rads">
                            <input type="radio" id="radio5" name="meals" value="five" class="card-input-element"
                              style="opacity: 0;">
                            <label id="label5" dir="rtl" for="radio5"> 5 </label>
                          </div>
                        </div>
                      </label>
                    </span>
                    <span class="col-md-2 ">
                      <label>
                        <div class="card card-default card-input">
                          <div class="card-body colorradio rads">
                            <input type="radio" id="radio6" name="meals" value="six" class="card-input-element"
                              style="opacity: 0;">
                            <label id="label6" dir="rtl" for="radio6"> 6 </label>
                          </div>
                        </div>
                      </label>
                    </span>
                  </span>
                </span>
                <br>
                <span class="row text-muted">
                  <label for="inputdiet" class="text-dark">هل اتبعت نظام غذائي من قبل؟ </label>
                  <input type="radio" id="diet" style="display: none;">
                  <span class="row rad" id="rad4" style="width: 75%;">
                    <span class="col-md-6 ">
                      <label>
                        <div class="card card-default card-input">
                          <div dir="ltr" class="card-body colorradio rads">
                            <input type="radio" id="radioyes" name="diet" value="yes" class="card-input-element" />
                            <label id="labelyes" dir="rtl" for="radioyes"> نعم</label>
                          </div>
                        </div>
                      </label>
                    </span>
                    <span class="col-md-6 ">
                      <label>
                        <div class="card card-default card-input">
                          <div dir="ltr" class="card-body colorradio rads">
                            <input type="radio" id="radiono" name="diet" value="no" class="card-input-element" />
                            <label id="labelno" dir="rtl" for="radiono"> لا</label>
                          </div>
                        </div>
                      </label>
                    </span>
                  </span>
                </span>
              </form>
              <br><br>
              <button type="button" id="form2-next" class="imgbtn" onclick="nextbtn2()"
                data-bs-target="#carouselExampleSlidesOnly">
                <img src="{% static 'home/img/price-plans.svg' %}" onmouseover="this.src='{% static 'home/img/price-plans-hover.svg' %}'"
                  onmouseout="this.src='{% static 'home/img/price-plans.svg' %}'" alt="">
              </button>
              <button type="button" class="imgbtn" onclick="backbtn()" data-bs-target="#carouselExampleSlidesOnly"
                data-bs-slide="prev">
                <img src="{% static 'home/img/back.svg' %}" onmouseover="this.src='{% static 'home/img/back-hover.svg' %}'" onmouseout="this.src='{% static 'home/img/back.svg' %}'"
                  alt="">
              </button>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row justify-content-evenly">
                  <div class="col-auto">
                    <h1>
                      انت على بعد خطوات ... اختر برنامجك
                    </h1>
                  </div>
                </div>
                <div class="row" style="display: flex;">
                  <div class="container2">
                    <div class="box">
                      <p>نظام غذائي مناسب لك</p>
                      <h2>30 يوم تغذية</h2>
                      <p style="margin: 0 30px;"><b> يبدأ من </b></p>
                      <span>500<span>جنيه</span></span>
                      <p style="margin: 0 30px;"> يتضمن البرنامج </p>
                      <span class="line"></span>
                      <ul class="features">
                        <li>2 خطة تغذية [خطة كل 14 يوم واليوم ال15 بيبقى وجبة الفري]</li>
                        <li>متابعة عن طريق واتساب</li>
                        <li>وصف المكملات والفيتامينات إذا احتاجنا</li>
                      </ul>
                      <button type="button" value="basic" data-bs-target="#carouselExampleSlidesOnly"
                        data-bs-slide="next" onclick="pricebtn(this)">اختر</button>
                    </div>
                    <div class="box">
                      <p>الأكثر مبيعا</p>
                      <h2 style="color: black;">90 يوم تغذية</h2>
                      <p style="margin: 0 30px;"><b> يبدأ من </b></p>
                      <span style="color: black;">1350<span style="color: black;">جنيه</span></span>
                      <p style="margin: 0 30px;"> يتضمن البرنامج </p>
                      <span class="line" style="border-top: 2px solid black;"></span>
                      <ul class="features">
                        <li>6 خطط تغذية خطة كل 14 يوم</li>
                        <li>متابعة يوميا عن طريق واتساب</li>
                        <li>زووم ميتينج خلال ال 3 شهور أو مكالمة موابيل شهرية</li>
                        <li>وصف المكملات والفيتامينات إذا احتاجنا</li>
                      </ul>
                      <button style="background-color: black;" type="button" value="advanced" data-bs-target="#carouselExampleSlidesOnly"
                        data-bs-slide="next" onclick="pricebtn(this)">اختر</button>
                    </div>
                    <div class="box">
                      <p>نظام متكامل لهدفك</p>
                      <h2>90 يوم تغذية وتمرين</h2>
                      <p style="margin: 0 30px;"><b> يبدأ من </b></p>
                      <span>2500<span>جنيه</span></span>
                      <p style="margin: 0 30px;"> يتضمن البرنامج </p>
                      <span class="line"></span>
                      <ul class="features">
                        <li>6 خطط تغذية خطة كل 14 يوم</li>
                        <li>متابعة يوميا عن طريق واتساب</li>
                        <li>بدائل وجبات ومسموح التواصل هاتفيا</li>
                        <li>زووم ميتينج يوميا</li>
                      </ul>
                      <button type="button" value="premium" data-bs-target="#carouselExampleSlidesOnly"
                        data-bs-slide="next" onclick="pricebtn(this)">اختر</button>
                    </div>
                  </div>
                  <button type="button" class="imgbtn" onclick="backbtn2()" data-bs-target="#carouselExampleSlidesOnly"
                    data-bs-slide="prev">
                    <img src="{% static 'home/img/back.svg' %}" onmouseover="this.src='{% static 'home/img/back-hover.svg' %}'"
                      onmouseout="this.src='{% static 'home/img/back.svg' %}'" alt="">
                  </button>
                </div>
              </div>
            </div>
            <div class="carousel-item" style="position: relative;">
              <div class="container-fluid">
                <div class="row">           
                  <div class="col-md-8" style="padding-right: 8vmax; padding-left: 3vmax; display: grid;">
                    <form class="form-inline">
                      <label class="blacktext" for="selectPayment">
                        <h4>طرق الدفع المتوفرة </h4>
                      </label>
                      <select class="custom-select my-1 mr-sm-2 rounded" id="selectPayment"
                        style="width:80%; height: 4vmax; color: green; border-color: green; font-weight: bolder;">
                        <option value="1"> فودافون كاش</option>
                        <option value="2">تحويل بنكي</option>
                      </select>
                    </form>
                  </div>
                  <div class="col-md-4" style="padding-left: 8vmax;">
                    <br>
                    <div class="row">
                      <h4>تفاصيل الباقة</h4>
                    </div>
                    <br>
                    <div class="row" style="color:green;">
                      <h6 class="border rounded border-success" style="height:4vmax; line-height:4vmax; display: flex;" id="plan1-detail">
                        <span dir="rtl"> 30 يوم تغذية </span><span style="margin-inline-start: auto;"> 500.00 جنيه </span>
                      </h6>
                      <h6 class="border rounded border-success" style="height:4vmax; line-height:4vmax; display: none;" id="plan2-detail">
                        <span dir="rtl"> 90 يوم تغذية </span><span style="margin-inline-start: auto;"> 1350.00 جنيه </span>
                      </h6>
                      <h6 class="border rounded border-success" style="height:4vmax; line-height:4vmax; display: none;" id="plan3-detail">
                        <span dir="rtl"> 90 يوم تغذية و تمارين </span><span style="margin-inline-start: auto;"> 2500.00 جنيه </span>
                      </h6>
                    </div>
                    <br>
                    <div class="row" id="plan-submit-list">
                      <ul class="blacktext submit-list" id="plan1-list">
                        <li>2 خطة تغذية [خطة كل 14 يوم واليوم ال15 بيبقى وجبة الفري]</li>
                        <hr>
                        <li>متابعة عن طريق واتساب</li>
                        <hr>
                        <li>وصف المكالمات و الفيتمينات اذا احتاجنا</li>
                      </ul>
                      <ul class="blacktext submit-list" id="plan2-list" style="display: none;">
                        <li>6خطط تغذية, خطة كل 14 يوم</li>
                        <hr>
                        <li>متابعة يوميا عن طريق واتساب</li>
                        <hr>
                        <li>زووم ميتينج خلال ال3 شهور أو مكالمة موبايل شهرية</li>
                        <hr>
                        <li>وصف المكالمات و الفيتمينات اذا احتاجنا</li>
                      </ul>
                      <ul class="blacktext submit-list" id="plan3-list" style="display: none;">
                        <li>6خطط تغذية, خطة كل 14 يوم</li>
                        <hr>
                        <li>متابعة يوميا عن طريق واتساب</li>
                        <hr>
                        <li>بدائل وجبات ومسموح التواصل هاتفيا</li>
                        <hr>
                        <li>زووم ميتينج يوميا</li>
                      </ul>
                    </div>
                    <br><br>
                    <div class="row">
                      <div class="col">
                        <h6 style="font-weight: bold;">
                          الاجمالي
                        </h6>
                      </div>
                      <div class="col" style="text-align: end; font-weight: bold;" id="price-amount">
                        1,350.00 جنيه
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <button type="submit" class="imgbtn" onclick="openpp()">
                <img src="{% static 'home/img/submit.svg' %}" onmouseover="this.src='{% static 'home/img/submit-hover.svg' %}'" onmouseout="this.src='{% static 'home/img/submit.svg' %}'"
                  alt="">
              </button>
              <button type="button" class="imgbtn" onclick="LastStep('step4')" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                <img src="{% static 'home/img/back.svg' %}" onmouseover="this.src='{% static 'home/img/back-hover.svg' %}'" onmouseout="this.src='{% static 'home/img/back.svg' %}'"
                  alt="">
              </button>
              <div class="popup" id="popup">
                <br><br><br><br>
                <p>تم التسجيل بنجاح
                  من فضلك حول المبلغ على رقم فودافون كاش 01xxxxxxxxx
                </p>
                <button type="button" onclick="closePopup()" class="close imgbtn">
                  <img src="{% static 'home/img/done.svg' %}" alt="">
                </button>
              </div>
              <div class="popup" id="popup2">
                <br><br><br><br>
                <p>تم التسجيل بنجاح
                  بالرجاء تحويل علي حساب رقم xxxx-xxxx-xxxx-xxxx
                </p>
                <button type="button" onclick="closePopup2()" class="close imgbtn">
                  <img src="{% static 'home/img/done.svg' %}" alt="">
                </button>
              </div>
              <div id="blur-bg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  
  <form action="" method="POST" id="form-handler" style="display: none;" onsubmit="return ajaxpost()"> {% csrf_token %}
    <!-- form1 handler -->
    <input type="text" id="f-name" name="fName">
    <input type="text" id="l-name" name="lName">

    
    <input type="radio" name="gender-type" id="male" value="male">
    
    <input type="radio" name="gender-type" id="female" value="female">
    

    <input type="email" id="mail" name="mail">

    <input type="number" id="age" name="age">

    <input type="text" id="job" name="job">

    
    <input type="radio" name="relationship" id="single" value="single">
    
    <input type="radio" name="relationship" id="married" value="married">
    

    <!-- form2 handler -->
    <input type="text" id="goal" name="goal">
    
    <input type="number" id="weight" name="weight">
    <input type="number" id="height" name="height">

    <input type="number" id="chest" name="chest">
    <input type="number" id="waist" name="waist">
    <input type="number" id="arm" name="arm">

    <input type="text" id="food-alergie" name="foodAlergie">

    <input type="text" id="sickness" name="sickness">

    <input type="text" id="operations" name="operations">

    <input type="text" id="supplements" name="supplements">

    <input type="text" id="liked-food" name="likedFood">

    <input type="text" id="disliked-food" name="dislikedFood">

    
    <input type="radio" name="meals" id="three" value="three">
    
    <input type="radio" name="meals" id="four" value="four">
    
    <input type="radio" name="meals" id="five" value="five">
    
    <input type="radio" name="meals" id="six" value="six">
    

    
    <input type="radio" name="first-time" id="yes" value="yes">
    
    <input type="radio" name="first-time" id="no" value="no">
    

    <!-- prices handler -->
    
    <input type="radio" name="price-plan" id="basic" value="basic">
    
    <input type="radio" name="price-plan" id="advanced" value="advanced">
    
    <input type="radio" name="price-plan" id="premium" value="premium">
    

    <!-- date -->
    <input type="date" id="current-date" name="currentDate">

  </form>


  <!-- JavaScript and Popper -->
  <script src="{% static 'home/js/popper.min.js' %}"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'home/js/MyJs.js' %}"></script>
</body>

</html>